# Directorios de compilación y build
**/target/
**/build/
**/out/
**/.gradle/
**/.idea/
**/lib/

# Archivos de configuración local
**/local.properties

# Archivos temporales y logs
**/*.log
**/tmp/
**/temp/

# Archivos de IDE
**/.vscode/
**/.eclipse/
**/*.iml

# Archivos de sistema
**/.DS_Store
**/Thumbs.db

# Otros
**/*.zip
**/*.jmod
**/*.jar
**/*.properties
**/*.gradle
